/* 
Coffee and Stout
A portflio for William Murray
*/


/******************************************
/* SETUP                   
/*******************************************/

/* GoogleFont API import */
@import url(http://fonts.googleapis.com/css?family=Crete+Round|Montserrat|Roboto);

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     font-size: 16px;
     line-height: 1.4;
     font-family: Roboto, Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container, header, footer {
  width: 800px;
  margin: 0 auto;
}

h1 {
     text-align: center;
}

h1, h2 {
     font-family: Crete Round;
}

nav ul li {
     display: inline;
     padding-right: 10px;
}

nav {
     text-align: center;
     padding-bottom: 5px;
     margin-top: 10px;
     margin-bottom: 10px;
}

footer>nav {
     padding-top: 5px;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

body {
     background-color: #D5E1FF;
}

#container, header, footer {
     background-color: white;
     color: #1D2236;
     border-radius: 5px;
}

header {
    margin-bottom: 15px;
}

#main {
    width:800px;    
    padding: 0;
    margin: 0 auto;
    margin-bottom: 10px;

}

#main ul {
    padding: 0;
    margin-top: 10px;
}

#main li {
    width: 200px;
    float: left;
}

#main a {
    display: block;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #383E51),
        color-stop(0.83, #1D2236)
    );
    background-image: -o-linear-gradient(bottom, #383E51 0%, #1D2236 83%);
    background-image: -moz-linear-gradient(bottom, #383E51 0%, #1D2236 83%);
    background-image: -webkit-linear-gradient(bottom, #383E51 0%, #1D2236 83%);
    background-image: -ms-linear-gradient(bottom, #383E51 0%, #1D2236 83%);
    background-image: linear-gradient(to bottom, #383E51 0%, #1D2236 83%);
    width: 200px;
    padding-right: 0;
    color: #FFF;
}

#main a:hover {
        background-image: -webkit-gradient(
        linear,
        right bottom,
        right top,
        color-stop(0, #403440),
        color-stop(0.85, #636163)
    );
    background-image: -o-linear-gradient(top, #403440 0%, #636163 85%);
    background-image: -moz-linear-gradient(top, #403440 0%, #636163 85%);
    background-image: -webkit-linear-gradient(top, #403440 0%, #636163 85%);
    background-image: -ms-linear-gradient(top, #403440 0%, #636163 85%);
    background-image: linear-gradient(to top, #403440 0%, #636163 85%);
    color: #FFF;
}

#main li:first-child a {
    border-bottom-left-radius: 5px;
}

#main li:last-child a {
    border-bottom-right-radius: 5px;
}

#main a:visited, #main a:active {
    color: #FFF;
}

section {
     border-top: 1px solid #0A0404;
     padding: 10px;
     margin: 0 10px;
}

#intro {
     border: none;
}

#container>#intro>img {
     border: 1px solid #0A0404;
     border-radius: 5px;
     margin-top: 5px;
     margin-left: 10px;
}

img {
     float: right;
     padding: 5px;
}

.toplink {
     margin-left: 740px;
}

a:link, a:visited, a:hover, a:active {
     color: #C90000;
     text-decoration: none;
}

.samples {
     list-style-type: none;
}

.samples li {
     height: 90px;
}

#fewd {
    margin-bottom: 130px;
}

.description {
    padding-top: 10px;
}

.work {
     padding-right: 20px;
     float: left;
}

footer {
     margin-top: 10px;
}

