<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Coffee and Stout</title>

    <%= stylesheet_link_tag "style" %>

  </head>
  <body>
    <div class="page-wrapper">
      <main>

      <%= yield %>

      </main>

      <footer>
        <div class="container">
          <div class="col-xs-8 col-lg-9">
            <ul class="footer-links">
              <li><a href="https://github.com/wmurray"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com/in/wmurray86"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/wilroc"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-4 col-lg-3">
            <p>&copy; 2016 Will Murray</p>
          </div>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag "all" %>

  </body>
</html>
