<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Coffee and Stout</title>
    <%= stylesheet_link_tag "style" %>
  </head>
  <body>
    <div class="page-wrapper">
      <main>

      <%= yield %>

      </main>

      <footer>
        <div class="outer-container clearfix">
          <ul class="footer-links">
            <li><a href="https://github.com/wmurray"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/wmurray86"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/wilroc"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
          <div class="footer-copyright">
            <p>&copy; 2016 Will Murray</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
