.link-list {
  list-style: none;
  padding-left: 30px;

  &.main-content-links {
    li {
      margin: 10px 0;
    }

    span {
      font-size: 14px;
      margin-top: -7px;
    }

    a {
      font-size: 18px;
    }
  }

  li {
    position: relative;

    &:hover span {
      color: lighten($blueDark, 20%);
      left: -30px !important;
    }

    span {
      @include transition(left, 300ms);
      color: $blueDark;
      font-size: 12px;
      left: -20px;
      margin-top: -6px;
      position: absolute;
      top: 50%;
    }

    a {
      display: block;
      font-size: 16px;
      padding: 20px 0;
      text-decoration: none;

      @media(min-width: $desktop) {
        margin: 10px 0;
        padding: 5px 0;
      }
    }
  }
}
