.left-col {
  @include span-columns(8);
  padding-right: 5%;
}

.right-col {
  @include span-columns(4);
  @include omega();

  div:first-child {
    margin-top: 65px;
  }

  a {
    @extend %arrow-link;
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding-left: 15px;
  }

  li {
    margin: 10px 0;
  }
}
