//Colors
$black: #000000;
$blackBrown: #151515;
//$blueDark: #1d2236;
//$blueDark: #212e61;
$blueDark: #1c2e94;
$blueLight: #8b9bd5;
$brownDark: #2b1e12;
//$brownMedium: #edc778;
$brownMedium: #f2e0b9;
$brownLight: #faf5ef;
$white: #ffffff;

// Font families
$crete: Crete Round, Helvetica, Arial, sans-serif;
$roboto: Roboto, Helvetica, Arial, sans-serif;

// Breakpoints
$largeDesktop: $screen-lg;
$desktop: $screen-md;
$tablet: $screen-sm;
$mobile: $screen-xs;
