<header>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <div class="jumbotron-copy">
            <h1>Coffee and Stout</h1>
            <p>The fuel for making elegant bits of code.</p>
          </div>
        </div>
        <div class="col-xs-4">

          <%= image_tag("hero.png", :alt => "Coffee Stain image.") %>

        </div>
      </div>
    </div>
  </div>
</header>
