<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>Coffee and Stout</h1>
        <p>The fuel for making elegant bits of code.</p>
      </div>
      <div class="col-sm-4">
        <%= image_tag("hero.png", :alt => "Coffee Stain image.") %>
      </div>
    </div>
  </div>
</div>
