<div class="right-col">
  <div>
    <h3>Places to Visit</h3>

    <ul>
      <li>
        <a href="http://www.damiangalarza.com">Damian Galarza</a>
      </li>

      <li>
        <a href="http://www.jakerainis.com">Jake Rainis</a>
      </li>
    </ul>
  </div>
</div>
