<%= partial "nav" %>

<div class="container">
  <header>
    <div class="page-header">
      <h1>So you want to know more...</h1>
    </div>
  </header>
  <div class="row">
    <div class="col-sm-8 col-lg-9">
      <section>
        <% image_tag "portrait.png" %>
        <h3>A little about me</h3>
        <p>Hi, I'm Will Murray. I am a web developer living and working in the
        Boston, Massachusetts area. In past lives, I was a design intern, a computer
        technician in a high-volume retail store, a photographer, a production
        worker in a factory, and a dishwasher for a cooking show. Now, I make
        websites.</p>

        <p>When I am not coding, there are a handful of things you can find me doing.
        I enjoy board and video games, so you may find me on XBox Live, Battle.net,
        PSN, or at a game night in a local hobby shop. I also love to ride
        my motorcycle when the weather is in my favor, and will often do so with my
        camera bag strapped to the seat. Occasionally, you'll find me stooped over
        a steaming kettle brewing what may eventually become a drinkable beer.</p>
      </section>
    </div>

    <%= partial "right-col" %>

  </div>
</div>
