<%= partial "nav" %>

<div class="container">
  <header>
    <div class="page-header">
      <h1>Get in touch</h1>
    </div>
  </header>
  <div class="row">
    <div class="col-sm-8 col-lg-9">
      <section>
        <p>Feel free to drop me a line with questions, feedback, or just to say 
        hi. Additionally, I am available for hire. You can email me for a copy of 
        my CV <%= mail_to "will.murray@gmail.com", "here" %>.</p>

        <p>Additionally, you can find me on various social networking sites:</p>
        <ul class="link-list main-content-links" >
          <li>
            <span class="glyphicon glyphicon-menu-right"></span>
            <a href="https://github.com/wmurray">Peruse my code.</a>
          </li>
          <li>
            <span class="glyphicon glyphicon-menu-right"></span>
            <a href="https://www.linkedin.com/in/wmurray86">Check my LinkedIn.</a>
          </li>
          <li>
            <span class="glyphicon glyphicon-menu-right"></span>
            <a href="https://twitter.com/wilroc">Read my Tweets.</a>
          </li>
        </ul>
      </section>
    </div>

    <%= partial "right-col" %>

  </div>
</div>
