<%= partial "nav" %>

<%= partial "jumbotron" %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-lg-9">
      <section>
        <h2>Welcome!</h2>

        <p>You've found me! I am Will Murray, a Boston-based web developer.
        This is my portfolio and the blog of my endeavors. If you'd like to
        know more, stop by the <a href="/about.html">About</a> page.</p>
      </section>

      <section>
        <h2>What I Do</h2>

        <p>My passion is front end web development. I prefer using clean,
        semantic markup and styles combined with unobtrusive JavaScript to make a
        smooth and enjoyable experience. With a backround in design, I aim
        to consider the user first when crafting the front end solutions for
        your website design.</p>

        <p>My goal is to create clean, readable code that runs smoothly and
        efficiently, with the widest range of accessibility possible.</p>
      </section>

      <section>
        <h2>What I Use</h2>

        <p>Focusing on front end leaves a wide array of tools at my disposal.
        Here are some that I use regularly:</p>

        <ul>
          <li>
            <p>HTML5 and HAML</p>
          </li>

          <li>
            <p>CSS3 and Sass for pre-processing.</p>
          </li>

          <li>
            <p>JavaScript and jQuery.</p>
          </li>

          <li>
            <p>Compass, Bourbon, Neat, Susy, and Singularity for mixins and grid systems.</p>
          </li>

          <li>
            <p>BEM syntax for CSS class naming.</p>
          </li>

          <li>
            <p>AMD JavaScript module loading pattern.</p>
          </li>

          <li>
            <p>Grunt and Gulp task management.</p>
          </li>

          <li>
            <p>Middleman static site generation.</p>
          </li>
        </ul>

        <p>In addition, I have worked with following technologies at a higher level
        (i.e.: not in a production environment, but my own experimentation):</p>

        <ul>
          <li>
            <p>ReactJS, AngularJS, and BackboneJS frameworks.</p>
          </li>

          <li>
            <p>Basic Rails application setup.</p>
          </li>
          <li>
          <p>Twig templating.</p>
          </li>
        </ul>

        <p>This list will continue to grow as I explore more of the growing world
        of web development.</p>
      </section>
    </div>

    <%= partial "right-col" %>

  </div>
</div>
