.jumbotron {
  background: $brownLight;

  div {
    @media(max-width: $mobile) {
      width: 100%;
    }

    & + div {
      @media(max-width: $mobile) {
        display: none;
      }
    }
  }

  h1 {
    @media (max-width: $tablet - 1) {
      font-size: 2.6em;
    }
  }

  p {
    @media (max-width: $tablet - 1) {
      font-size: 18px;
    }
  }

  img {
    max-width: 300px;
    width: 100%;
  }

  .jumbotron-copy {
    padding: 10% 0;
  }
}
