nav.main {
  @include span-columns(12);
  display: none;
  width: 100%;

  @include media($tablet) {
    @include span-columns(5);
    margin: 0;
    position: relative;
    top: 175px;
    z-index: 2;
  }

  @include media($desktop) {
    @include span-columns(4);
  }

  @include media($largeDesktop) {
    top: 170px;
  }

  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 10%;
    }
  }

  a {
    @include transition(color, 300ms);
    color: $blackBrown;
    font-family: $crete;
    font-size: golden-ratio(14px, 1);
    text-decoration: none;

    @include media($largeDesktop) {
      font-size: golden-ratio(16px, 1);
    }

    &:hover,
    &:active {
      color: $blueLight;
    }
  }
}
